/*----- Warning     -------*/
.warning {
    color: red;
    text-align: center;
}

/*---------------       Master Styles       -------------*/

body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    background-color: #eeeeee;
}

header {
    height: 10rem;
    background-color: #dddddd;
}

main {
    max-width: 1800px;
    margin: 0 auto;
}


/*------------       Navigation Styles       ------------*/

nav {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

h1 {
    font-size: 2rem;
    color: #00115a;
}

.navLink {
    font-size: 1.3rem;
    color: #373a41;
    margin-left: 1rem;
    text-decoration: none;
}

.active-navLink {
    border-bottom: 1px solid #808080;
}


/*-------------     index Page Styles     ---------------*/

.sortSelection {
    height: 3rem;
    max-width: 1000px;
    margin: 3rem auto 0 auto;   /* top right bottom left */
    display: flex;
}

.startStop {
    text-align: center;
}

/*----------       Sort Canvas       ----------*/

#sortContainer {
    max-width: 1200px;
    margin: 2rem auto;
}

canvas {
    width: 100%;
    height: 500px;
    background-color: #dddddd;
    border: 1px solid #002270;
}


/*----------      Button Styles       ---------*/

.sortAlgos {
    width: 65%;
    margin: 1rem 0 1rem 3rem;
    justify-content: space-between;
}

.sortAlgo {
    font-size: 1.2rem;
    border-radius: 1rem;
}

.sortAlgo:hover,
.sortAlgo:focus {
    background-color: yellow;
    color: #0038bb; 
}

#start {
    font-size: 1.3rem;
    border-radius: 1rem;
}

#start:hover,
#start:focus {
    background-color: green;
    color: #ffffff;
}

#newSort {
    font-size: 1.3rem;
    border-radius: 1rem;
}

#newSort:hover,
#newSort:focus {
    background-color: red;
    color: #ffffff;
}


/*---------      sortAlgorithms Page Styles     ---------*/

h3 {
    color: #002e99;
    margin: 0;
    padding-top: 2rem;
}

.algorithms {
    font-size: 1.1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.algorithm-description {
    color: #202020;
}

.algorithm-image {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

